<%- include('../layouts/header') %>
    <h2 class="title">Login-Page</h2>
    <form action="/users/login" method="post" class="form__control">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                value="<%= data.email %>">
            <div id=" emailHelp" class="form-text">We'll never share your email with anyone else.
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                value="<%= data.password %>">
            <span class="error">
                <%= error %>
            </span>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include('../layouts/footer') %>