<%- include('../layouts/header') %>
<h2 class="title">Registration-Page</h2>

<form action="/users/register" method="post" class="form__control">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text"
               value="<%= data.firstName %>" placeholder="First Name" name="firstName">
        <span class="error">
                <%= errors.firstName %>
            </span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text"
               value="<%= data.lastName %>" placeholder="Last Name" name="lastName"/>
        <span class="error">
                <%= errors.lastName %>
            </span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="email"
               value="<%= data.email %>" placeholder="Email" name="email"/>
        <div id=" emailHelp" class="form-text">We'll never share your email with anyone else.
        </div>
        <span class="error">
                <%= errors.email %>
            </span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input class="form-control" id="exampleInputPassword1" type="password" value="<%= data.password %>"
               placeholder="Password" name="password"/>
        <span class="error">
                <%= errors.password %>
            </span>
    </div>
    <label for="countryId">Country</label>
        <label for="countryId">Country</label>
        <select name="countryId" class="form-select" aria-label="Default select example">
            <% for(let i of countriesJson){ %>
                <option value="<%= i.name %>">
                    <%= i.name %>
                </option>
            <% } %>
        </select>
    <span><%=errors.select%></span>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<%- include('../layouts/footer') %>